page-home {
  .ribbon {
    background: #323232;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 1em;

    .temperature-text, .temperature-icon {
      font-size: 1.3em;
    }

  }
}
